global
    maxconn 4096

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms
    timeout http-keep-alive 60000ms

frontend http_in
    bind *:80

    acl is_node path_beg /node
    acl is_python path_beg /python
    acl is_go path_beg /go
    acl is_fast path_beg /fast

    use_backend node_backend if is_node
    use_backend python_backend if is_python
    use_backend go_backend if is_go
    use_backend fast_backend if is_fast

    http-request return status 200 content-type application/json lf-string '{"status":"ok","proxy":"haproxy"}' if { path /health }

backend node_backend
    http-request replace-path ^/node/?(.*) /\1
    server s1 node-origin:9101 maxconn 2048

backend python_backend
    http-request replace-path ^/python/?(.*) /\1
    server s1 python-origin:9102 maxconn 2048

backend go_backend
    http-request replace-path ^/go/?(.*) /\1
    server s1 go-origin:9103 maxconn 2048

backend fast_backend
    http-request replace-path ^/fast/?(.*) /\1
    server s1 fast-origin:9104 maxconn 2048
